.my-account-page {
  background-color: #f8f9fa;
  font-family: "Rubik", sans-serif;
}

.my-account-page .card {
  margin-bottom: 1.5rem;
}

.my-account-page .img-fluid {
  max-width: 150px;
}

.my-account-page .list-group-item {
  font-size: 0.9rem;
}

.myColor {
  background-color: #3c9cf6;
}
