.react-datepicker__view-calendar-icon input {
    padding: 0.375rem 4.5rem 0.375rem 2.75rem !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
    padding: 0.7rem !important;
}